	tr{height:45px;}
	a{text-decoration:none;color:#000;}
	.login_top{margin-bottom: 30px;position:relative;left:450px;width:400px;}
	.login_top span{font-size: 28px;font-weight: bold;position:relative;top:-10px;}
	.center{margin-left:150px;width:1030px;height:527px;}
